body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

video {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
}

.back-button {
    position: absolute;
    bottom: 20px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

.back-button:hover {
    background-color: gray;
}